<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Race Cats Club</title>
    <link rel="stylesheet" type="text/css" href="styles.css"> <!-- You can link your custom CSS file here -->
</head>
<body>
<div class="container">
    <h1>About Race Cats Club</h1>
    <p>Welcome to the Cute Race Cat Club, the premier online community for cat enthusiasts! At Cute Race Cat Club, we're passionate about celebrating the true beauty of our feline friends.</p>

    <h2>Our Mission</h2>
    <p>Our mission is to get every cute cat signed up and participate in our events.</p>

    <h2>What We Offer</h2>
    <p>At Cute Race Cat Club, you can;</p>
    <ul>
        <li>Learn about upcoming cat shows and meetings</li>
        <li>Stay updated on upcoming cat competitions</li>
        <li>Check out the finest cats in town</li>
        <li>Show the world how amazing and cute your cat is!</li>
    </ul>

    <h2>Join Us Today!</h2>
    <p>Whether you're a seasoned cat enthusiast or just getting started, Cute Race Cat Club welcomes cat lovers of all backgrounds. Join our community today and embark on an exciting journey into the world of cats!</p>
    <a href="/loggedin">Back</a>
</div>
</body>
</html>
