<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<style>
		h1 {
			font-size: 80px;
		}
	</style>
</head>
<body>
<div class="container text-center">
	<h1>Welcome to the Cute Race Cat Club!</h1>
	<!--<h3><a th:href="@{/User}">List of Users</a></h3>-->
	<h3><a th:href="@{/register}">Register</a></h3>
	<h3><a th:href="@{/login}">Login</a></h3>
	<img src="https://tse4.mm.bing.net/th?id=OIP.E6YHVqzniYmnkIyirjCKzgHaEt&pid=Api&P=0&h=180" alt="Seewy kat" width="500" height="300" />

</div>

</body>
</html>