<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Cat Club</title>
    <link rel="stylesheet" type="text/css" href="styles.css"> <!-- You can link your custom CSS file here -->
</head>
<body>
<div class="container">
    <h1>Welcome to the Cat Club</h1>
    <div class="options">

        <a href="/about"> About us </a>
        <a href="/meetings"> Upcoming Meetings </a>
        <a href="/cats"> Cat List </a>
        <a href="/users"> Member List </a>
        <a href="/profile"> Profile </a>
        <a href="/createCat"> Create new Cat </a>
    </div>
    <div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" />
        </form>
    </div>
</div>
</body>
</html>
