<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<h2>Login</h2>
<form action="login.php" method="post"> <!-- Husk at ændre "login.php" til den rigtige fil, der håndterer login-processen -->
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <input type="submit" value="Login">
    </div>
</form>
<div>
    <a href="signup_form.html">Forgot Password?</a>
</div>
<script>
    function redirectAfterLogin() {
        // You can perform additional validation here if needed

        // Redirect user to the front page after successful login
        window.location.href = "loggedin.html"; // Replace "index.html" with the path to your front page
        return false; // Prevent form submission (since we're manually redirecting)
    }
</script>
</body>
</html>